<% layout('//common/layout') -%>
<div class="box" >
	<h4><div class="upper"><%=title%> 목록</div><div class="oc" ng-click="openColse();" ng-init="oc='닫기'">{{oc}}</div></h4>
	<div ng-class="topDisplay">
		<table summary="<%=title%> 목록">
			<caption><%=title%> 목록</caption>
			<colgroup>
				<col width="87%"/>
				<col width="13%"/>
			</colgroup>
			<tbody id="boardList">
				<%if(boardList.length > 0){%>
					<% for(var i=0;i<boardList.length;i++){ %>
						<tr>
							<td scope="row">
								<span onclick="goDetail('<%=boardList[i]._id%>','<%=topPaging.nowPage%>');" name="aTag" id="aTag<%=i%>" style="cursor: pointer;"><%=boardList[i].title%></span>
								<%if(boardList[i].comment.length > 0){%>
								<span style="color: #FF3636;;">
									(<b><%=boardList[i].comment.length%></b>)
								</span>
								<%}%>
							</td>
							<td scope="row"><%=boardList[i].date.substring(0,4)+"/"+boardList[i].date.substring(4,6)+"/"+boardList[i].date.substring(6,8)%></td>
						</tr>
					<%}%>
				<%}else{%>
					<tr>
						<td style="text-align: center;" colspan="2">등록된 게시물이 없습니다.<td>
					</tr>
				<%}%>
			</tbody>
		</table>
		<div class="paging" id="topPaging"><%-topPaging.html%></div>
	</div>
</div>
<% for(var i=0;i<boardList.length;i++){ %>
	<br>
	<div class='boardDetail'>
		<table summary="<%=boardList[i].title%>" style="margin-top:10px; margin-bottom:10px;">
			<caption><%=boardList[i].title%></caption>
			<colgroup>
				<col width="70%"/>
				<col width="30%"/>
			</colgroup>
			<thead>
				<tr>
					<td class="title">
						<%=boardList[i].title%>
						<%if(isAdmin){%>
							<span style="font-size: 11px; color: rgb(138,131,126);">
								<span style="cursor: pointer;" ng-click="deleteBoard('<%=boardList[i]._id%>');">
									x
								</span>
								/
								<a href="/board/modify?_id=<%=boardList[i]._id%>">
									m
								</a>
							</span>
						<%}%>
					</td>
					<td class="date">
						<%=boardList[i].date.substring(0,4)+"/"+boardList[i].date.substring(4,6)+"/"+boardList[i].date.substring(6,8)+" "+boardList[i].date.substring(8,10)+":"+boardList[i].date.substring(10,12)%>
					</td>
				</tr>
			</thead>
			<tfoot id='tfoot<%=i%>'>
				<tr>
					<td colspan="2">
						<span class="comment" onclick="commentOpenColse(<%=i%>);" ><b>comment</b></span>
					</td>
				</tr>
				<tr id='commnetDisplay<%=i%>' class="hidden">
					<td colspan="2">
						<form>
							<table summary="<%=boardList[i].title%> 댓글" class="commentTable">
								<caption><%=boardList[i].title%> 댓글</caption>
								<colgroup>
									<col width="79%"/>
									<col width="14%"/>
									<col width="7%"/>
								</colgroup>
								<tfoot style="board: 0px;">
									<tr>
										<td rowspan="2" style="text-align: right; padding-right: 5px;">
											<textarea id="content<%=i%>" style="width:460px; height:40px; padding-left: 5px; padding-top: 5px; border-radius:5px; border-color: rgb(138,131,126);" placeholder='내용' required ></textarea>
										</td>
									</tr>
									<tr>
										<td>
											<div>
												<input type="text" size="12" id="id<%=i%>" placeholder='아이디' required >
											</div>
											<div style="padding-top: 6px;">
												<input type="password" size="12" id="password<%=i%>" placeholder='비밀번호' required >
											</div>
										</td>
										<td>
											<input type="submit" value="등록" style="width:40px; height:40px;" onclick="insertComment('<%=i%>', '<%=boardList[i]._id%>');" >
										</td>
									</tr>
								</tfoot>
								<tbody id="comment<%=i%>">
								<%if(boardList[i].comment.length > 0){%>
									<%
									for(var j=0;j<boardList[i].comment.length;j++){
										var date = String(boardList[i].comment[j].date)
									%>
										<tr>
											<td colspan="3">
												<span class="commentTitle"><%=boardList[i].comment[j].id%></span>
												<span style="font-size: 11px;">(<%=date.substring(0,4)+"/"+date.substring(4,6)+"/"+date.substring(6,8)+" "+date.substring(8,10)+":"+date.substring(10,12)%>)</span>
												<span style="cursor: pointer;" onclick="showDelete('<%=i%>', '<%=boardList[i]._id%>', '<%=boardList[i].comment[j].id%>', '<%=boardList[i].comment[j].date%>', event)">
													x
												</span>
											</td>
										</tr>
										<tr>
											<td colspan="3" class="commentContent"><div style="word-wrap:break-word;"><pre><%=boardList[i].comment[j].content%></pre></div></td>
										</tr>
									<%}%>							
								<%}%>
								</tbody>
							</table>
						</form>
					</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td colspan="2">
						<div class="smartOutput" style="margin-top:5px;margin-bottom:7px; margin-left: 5px; word-wrap:break-word;">
							<%-boardList[i].content%></pre>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<%}%>
<%if(boardList.length > 0){%>
	<div class="paging" id="paging"><%-paging%></div>
<%}%>