<% layout('layout') -%>	
<div class="board" >
	<h4><div class="upper"><%=title%> 목록</div><div class="oc" ng-click="openColse();" ng-init="oc='열기'">{{oc}}</div></h4>
	<div ng-class='display'>
		<table summary="<%=title%> 목록">
			<caption><%=title%> 목록</caption>
			<colgroup>
				<col width="87%"/>
				<col width="13%"/>
			</colgroup>
			<tbody>
				<% for(var i=0;i<boardList.length;i++){ %>
					<tr>
						<td scope="row"><%=boardList[i].title%></td>
						<td scope="row"><%=boardList[i].date.substring(0,4)+"/"+boardList[i].date.substring(4,6)+"/"+boardList[i].date.substring(6,8)%></td>
					</tr>
				<%}%>
			</tbody>
		</table>
		<div class="paging" id="topPaging"><%-topPaging%></div>
	</div>
</div>

<% for(var i=0;i<boardList.length;i++){ %>
	<br>
	<div class='board'>
		<table summary="<%=boardList[i].title%>" style="margin-top:10px; margin-bottom:10px;">
			<caption><%=boardList[i].title%></caption>
			<colgroup>
				<col width="70%"/>
				<col width="30%"/>
			</colgroup>
			<tr style="border-bottom: 1px dotted #D5D5D5;">
				<td style="font-size: 14px; font-weight: bold;">
					<%=boardList[i].title%>
				</td>
				<td style="text-align: right; font-size: 12px">
					<%=boardList[i].date.substring(0,4)+"/"+boardList[i].date.substring(4,6)+"/"+boardList[i].date.substring(6,8)+" "+boardList[i].date.substring(8,10)+":"+boardList[i].date.substring(10,12)%>
				</td>
			</tr>
			<tr style="border-bottom: 1px dotted #D5D5D5;">
				<td colspan="2">
					<div style="margin-top:5px;margin-bottom:5px;">
						<pre><%-boardList[i].content%></pre>
					</div>
				</td>
			</tr>
			<tr style="border-bottom: 0px;">
				<td colspan="2">
					<input type="text" id="content" >
					<input type="text" id="id" >
					<input type="password" id="pw" > 
				</td>
			</tr>
		</table>
	</div>
<%}%>
<div class="paging" id="paging"><%-paging%></div>