<!DOCTYPE html>
<html lang="ko" ng-app='directive'>
<head>
	 <meta charset="UTF-8" />
	 <title><%=title %></title>
	 <meta name="Description" content="<%=title%>" />
	 <meta name="Keywords" content="<%=title%>" />
	 <meta name="Author" content="권동준" />
	 <link rel="stylesheet" href="/css/layout.css" />
	 <script src="/js/jquery-1.9.1.min.js"></script>
	 <script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
	 <!--[if lt IE 9]>
		<script src="/js/html5.js"></script>
	 <![endif]-->
</head> 
<body>
	<div class="wrapper">
		<!-- 바로가기 시작 -->
		<span class="accessibility"><a href="#container" class="skip">본문바로가기(skip to content)</a></span>
		<!-- 바로가기 끝 -->
		<!-- 해더 시작 -->
		<header class="header fix">
			<h1 class="desc"><a href="/">main</> / admin</h1>
		</header>
		<!-- 해더 끝 -->
		
		<aside class="left_wrap fix">
			<article class="pro">
				<div class="img">
					<img src="/images/dongjun.jpg" atr="프로필 사진" width="130px" height="180px;">
				</div>
				안녕하세요.<br>
				여행과 개발을 사랑하는<br>
				권동준입니다.
			</article>
			<nav>
				<ul>
					<% for(var i=0;i<menus.length;i++){ %>
						<li <%if(menus[i].click == 'Y'){%>class="left_menu_on"<%}%>>
						 	<a href="<%=menus[i].url%>"><%=menus[i].name%></a>
						</li>
						<% if(menus[i].sub.length > 0) {%>
							<li class="">
							</li>
						<%} %>
					<% } %>
				</ul>
			</nav>
		</aside>		
		<section id="container" class="content">
			<%-body%>
		</section>
	</div>
</body>
</html>