<% layout('layout') -%>	
<div class="box" style="padding: 5px 5px 5px 5px;">
	안녕하세요. 개발자 권동준 입니다. <br>
	블로그를 만들려고 몇달동안 마음만 먹다가 드디어 완성이 되어 가네요.<br> 많은 도움을 주신 많은 분들 감사합니다. 
	<br><br>
	현재 소스는 https://github.com/mayajuni/maya/tree/master/johayo 에서 볼 수 있습니다.
</div>
<br>
<div class="box" >
	<h4><div class="upper">전체게시판 목록</div></h4>
	<div style="margin-bottom: 8px;">
		<table summary="전체 게시판 목록">
			<caption>전체 게시판 목록</caption>
			<colgroup>
				<col width="87%"/>
				<col width="13%"/>
			</colgroup>
			<tbody id="boardList">
				<%if(boardList.length > 0){%>
					<% for(var i=0;i<boardList.length;i++){ %>
						<tr>
							<td scope="row">
								<a href="/board/<%=boardList[i].division%>/detail?_id=<%=boardList[i]._id%>">[<%=boardList[i].division%>] <%=boardList[i].title%></a>
								<%if(boardList[i].comment.length > 0){%>
								<span style="color: #FF3636;;">
									(<b><%=boardList[i].comment.length%></b>)
								</span>
								<%}%>
							</td>
							<td scope="row"><%=boardList[i].date.substring(0,4)+"/"+boardList[i].date.substring(4,6)+"/"+boardList[i].date.substring(6,8)%></td>
						</tr>
					<%}%>
				<%}else{%>
					<tr>
						<td style="text-align: center;" colspan="2">등록된 게시물이 없습니다.<td>
					</tr>
				<%}%>
			</tbody>
		</table>
	</div>
</div>
<br>
<div class="box">
	<h4><div class="upper">한줄 방명록</div></h4>
	<div style="margin-bottom: 8px;">
		<form>
			<table summary="한줄 방명록 목록">
				<caption>한줄 방명록 목록</caption>
				<colgroup>
					<col width="75%"/>
					<col width="25%"/>
				</colgroup>
				<thead>
					<tr>
						<td>
							<input type="text" id="content" placeholder='방명록 내용' required size="70" maxlength="50" /> 
						</td>
						<td style="text-align: right; padding-right: 5px;">
							<input type="text" id="id" placeholder='아이디' required size="7"/>
							<input type="password" id="password" placeholder='비밀번호' required size="7" />
							<input type="submit" onclick="insertGeustBook();" value="등록" />
						</td>
					</tr>
				</thead>
				<tbody id="guestBookList">
					<%if(guestBookList.length > 0){%>
						<% for(var i=0;i<guestBookList.length;i++){ %>
							<tr>
								<td scope="row">
									<b><%=guestBookList[i].id%></b>
									<span style="cursor: pointer;" onclick="showDelete('<%=guestBookList[i]._id%>', event)">
										x
									</span>
									<br><%=guestBookList[i].content %>
								</td>
								<td scope="row" style="text-align: right; padding-right: 5px;">
									<%=guestBookList[i].date.substring(0,4)+"/"+guestBookList[i].date.substring(4,6)+"/"+guestBookList[i].date.substring(6,8)%>
								</td>
							</tr>
						<%}%>
					<%}else{%>
						<tr>
							<td style="text-align: center;" colspan="2">등록된 방명록 없습니다.<td>
						</tr>
					<%}%>
				</tbody>
			</table>
		</form>
	</div>
	<div class="paging" id="paging"><%-paging%></div>
</div>